apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
  namespace: {{ .Values.namespace }}
data:
  MONGO_URL: {{ .Values.configMap.MONGO_URL }}
  MONGO_INITDB_DATABASE: {{ .Values.configMap.MONGO_INITDB_DATABASE }}
